.parent{
    width: 250px;
    height: 500px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
}
.child1{
    width: 150px;
    height: 150px;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    border-radius: 75px;
    margin: 10px 0px 0px 50px;
}
.child2{
    width: 150px;
    height: 150px;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(0, 255, 0);
    border-radius: 75px;
    margin: 10px 0px 0px 50px;
}
.child3{
    width: 150px;
    height: 150px;
    border: 0px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 0);
    border-radius: 75px;
    margin: 10px 0px 0px 50px;
}
.pole{
    width: 30px;
    height: 500px;
    border: 0px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    border-radius: 0px 0px 15px 15px;
    margin-left: 115px;
}
